.collapseMargin {
  margin: "60px 150px 30px 150px";
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .collapseMargin {
    margin: 25px 20px;
  }
}
