/* BACKGROUND COLOR */
.trans-bg {
  background-color: transparent;
}
.bg-00{
    background-color: black
}
.bg-ff{
    background-color: white;
}



/* TEXT COLOR */
.trans-color {
  color: transparent;
}
.txt-00 {
  color: black;
}
.txt-ff {
  color: white;
}

