.services{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding:12px 18px 0px 18px;
}
@media (min-width: 968px) {
    .services {
      padding: 40px 80px 0px 80px;
    }
  }