/* #greatnessFromSmallBeginnings {
    width:64px;
}
#drivingSuccess1 {
  width: 172px;
}
#drivingSuccess2 {
  width: 128px;
}
#drivingSuccess3 {
  width: 107px;
} */

#imgSizing{
    max-width: 874px;
    /* width: 300px; */
    width: 75vw;
}
