.footerContainer{
    padding-top: 0px;
    background-image: url(../../../assets/images/backgroundPattern.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}